.BorderPane{
	-fx-background-image:url("bgmol.png");
}

#bp_pane{
	-fx-background-image:url("bgmol.png");
	-fx-background-size:800 600;
	-fx-background-position: center center;
	-fx-background-repeat: stretch;
}

#btn_loudspeaker{
	-fx-graphic:url("speaker.png");
}

#btn_oog{
   -fx-graphic:url("focus.png");
}

#btn_close{
    -fx-graphic:url("close.png");
}

#btn_minimize{
    -fx-graphic:url("substract.png");
}

#btn_joinspel, #btn_exitspel, #btn_hostspel, #btn_hervatspel{
    -fx-padding: 10;   
    -fx-background-color: white;
    -fx-font-family: Helvetica;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-width: 150px;
}

#btn_joinspel:hover, #btn_exitspel:hover, #btn_hostspel:hover, #btn_hervatspel:hover{
    -fx-background-color: black;
    -fx-text-fill: white;
}