.GridPane{
    -fx-background-image: url("../img/OverlayTemplateRechthoek2.png");
}

#gridder{
    -fx-background-image: url("../img/OverlayTemplateRechthoek2.png");
    -fx-background-size:100%;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

.slider .thumb {
    -fx-graphic: url("../img/Icon_Handje.png");
    -fx-background-color: transparent;
}

#rood{
    -fx-graphic: url("../img/Icon_MolHoofdRood.png");
    -fx-background-color: transparent;
}

#geel {
    -fx-graphic: url("../img/Icon_MolHoofdGeelCLBD.png");
    -fx-background-color: transparent;
}

#blauw{
    -fx-graphic: url("../img/Icon_MolHoofdBlauwCLBD.png");
    -fx-background-color: transparent;
}

#groen{
    -fx-graphic: url("../img/Icon_MolHoofdGroenCLBD.png");
    -fx-background-color: transparent;
}

#klaar{
    -fx-graphic: url("../img/Icon_MollenbattleKnohp.png");
    -fx-background-color: transparent;
}
#geelClicked {
    -fx-graphic: url("../img/Icon_MolHoofdGeelCLBDClicked.png");
    -fx-background-color: transparent;
}

#blauwClicked{
    -fx-graphic: url("../img/Icon_MolHoofdBlauwCLBDClicked.png");
    -fx-background-color: transparent;
}

#groenClicked{
    -fx-graphic: url("../img/Icon_MolHoofdGroenCLBDClicked.png");
    -fx-background-color: transparent;
}

#roodClicked{
    -fx-graphic: url("../img/Icon_MolHoofdRoodClicked.png");
    -fx-background-color: transparent;
}

#klaarClicked{
    -fx-graphic: url("../img/Icon_MollenbattleKnohpClicked.png");
    -fx-background-color: transparent;
}