#moap {
    -fx-background-image: url("../img/Spelbord_Achtergrond_Leeg.png");
	-fx-background-position: center center;
    -fx-background-repeat: no-repeat;
}

#panel_win{
    -fx-background-image: url("../img/Spelbord_Bord5.png");
    -fx-background-position: center center;
    -fx-background-size: 300%;
    -fx-background-color: rgba(0,0,0,0.7);
}

#text_win{
    -fx-text-fill: white;
    -fx-font-size: 30px;
}

#PionRood {
    -fx-graphic: url("../img/PionRood.png");
    height: 60px;
    width: auto;
}
#PionGroen {
    -fx-graphic: url("../img/PionGroen.png");
    height: 60px;
    width: auto;
}
#PionBlauw {
    -fx-graphic: url("../img/PionBlauw.png");
    height: 60px;
    width: auto;
}
#PionGeel {
    -fx-graphic: url("../img/PionGeel.png");
    height: 60px;
    width: auto;
}