.background{
    -fx-background-image: url("../img/Spelbord_Achtergrond_Leeg.png");
    -fx-background-size:1440 810;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}
.nivel1 {
    -fx-background-image: url("../img/Spelbord_Bord1_HD.png");
    -fx-background-size: auto 700;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}
.nivel2 {
    -fx-background-image: url("../img/SpelbordView2MEGA.png");
    -fx-background-size:1440 810;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

.nivel3 {
    -fx-background-image: url("../img/SpelbordView3MEGA.png");
    -fx-background-size:1440 810;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

.nivel4 {
    -fx-background-image: url("../img/SpelbordView4MEGA.png");
    -fx-background-size:1440 810;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

.nivel5 {
    -fx-background-image: url("../img/SpelbordView5MEGA.png");
    -fx-background-size:1440 810;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}

#panel_win{
    -fx-background-image: url("../img/Spelbord_Bord5.png");
    -fx-background-position: center center;
    -fx-background-size: 300%;
    -fx-background-color: rgba(0,0,0,0.7);
}

#text_win{
    -fx-text-fill: white;
    -fx-font-size: 30px;
}

#redPion {
    -fx-background-image: url("../img/CLBDPionRood.png");
    -fx-background-size: 120%;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-color: transparent;
}
#greenPion {
    -fx-background-image: url("../img/CLBDPionGroen.png");
    -fx-background-size: 120%;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-color: transparent;
}
#bluePion {
    -fx-background-image: url("../img/CLBDPionBlauw.png");
    -fx-background-size: 120%;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-color: transparent;
}
#yellowPion {
    -fx-background-image: url("../img/CLBDPionGeel.png");
    -fx-background-size: 120%;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}
#redPionGroot {
    -fx-background-image: url("../img/CLBDPionRoodGroot.png");
    -fx-background-size: 120%;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-color: transparent;
}
#greenPionGroot {
    -fx-background-image: url("../img/CLBDPionGroenGroot.png");
    -fx-background-size: 120%;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-color: transparent;
}
#bluePionGroot {
    -fx-background-image: url("../img/CLBDPionBlauwGroot.png");
    -fx-background-size: 120%;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
    -fx-background-color: transparent;
}
#yellowPionGroot {
    -fx-background-image: url("../img/CLBDPionGeelGroot.png");
    -fx-background-size: 120%;
    -fx-background-position: center center;
    -fx-background-repeat: stretch;

}

#redPion:disabled, #greenPion:disabled, #bluePion:disabled,#yellowPion:disabled {
    -fx-opacity: 0.8;
}

#fiche_blauw_nietgedraaid{
    -fx-background-image: url("../img/CLBDFicheBlauw0.png");
}
#fiche_geel_nietgedraaid{
    -fx-background-image: url("../img/CLBDFicheGeel0.png");
}
#fiche_groen_nietgedraaid{
    -fx-background-image: url("../img/CLBDFicheGroen0.png");
}
#fiche_rood_nietgedraaid{
    -fx-background-image: url("../img/CLBDFicheRood0.png");
}

#fiche_blauw_1{
    -fx-background-image: url("../img/FicheBlauw1.png");
}
#fiche_blauw_2{
    -fx-background-image: url("../img/FicheBlauw2.png");
}
#fiche_blauw_3{
    -fx-background-image: url("../img/FicheBlauw3.png");
}
#fiche_blauw_4{
    -fx-background-image: url("../img/FicheBlauw4.png");
}

#fiche_geel_1{
    -fx-background-image: url("../img/FicheGeel1.png");
}
#fiche_geel_2{
    -fx-background-image: url("../img/FicheGeel2.png");
}
#fiche_geel_3{
    -fx-background-image: url("../img/FicheGeel3.png");
}
#fiche_geel_4{
    -fx-background-image: url("../img/FicheGeel4.png");
}

#fiche_groen_1{
    -fx-background-image: url("../img/FicheGroen1.png");
}
#fiche_groen_2{
    -fx-background-image: url("../img/FicheGroen2.png");
}
#fiche_groen_3{
    -fx-background-image: url("../img/FicheGroen3.png");
}
#fiche_groen_4{
    -fx-background-image: url("../img/FicheGroen4.png");
}

#fiche_rood_1{
    -fx-background-image: url("../img/FicheRood1.png");
}
#fiche_rood_2{
    -fx-background-image: url("../img/FicheRood2.png");
}
#fiche_rood_3{
    -fx-background-image: url("../img/FicheRood3.png");
}
#fiche_rood_4{
    -fx-background-image: url("../img/FicheRood4.png");
}